<nav class="navbar">
  <img src="assets/logoUpp.png" class="logo">
  <span>Universidad Politecnica de Pachuca</span>
</nav>
<div class="container">
  <img src="assets/Usuario.png" alt="">
  <form class="form" (submit)="recoverPassword($event)">
    <label for="email" class="input-label">Correo Electrónico:</label>
    <input id="email" name="email" type="email" class="input-user" placeholder="Introduce tu correo" [(ngModel)]="email" required />
    
    <button type="submit">Recuperar Contraseña</button>
  
    <!-- Mensajes de éxito o error -->
    <div *ngIf="recoverySuccess" class="success-message">
      ¡Correo de recuperación enviado! Revisa tu bandeja de entrada.
    </div>
    <div *ngIf="recoveryError" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
  
  <!-- Enlace para volver al inicio de sesión -->
  <a routerLink="/login" routerLinkActive="active">Volver al inicio de sesión</a>
</div>
