/* .navbar {
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #48166C;
    color: white;
  }
  
  .navbar img{
    margin-left: 9px;
  }
  
  .navbar span{
    flex-grow: 1;
    text-align: center;
    margin-left: -49px;
    color: white;
  } */
  
  .full-container{
    display: flex;
  }

  .container{
    width: 517px;
    height: 362px;
    margin-top: 179px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #D8D6D6;
  }
  
  .container .form {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }
  
  input::placeholder{
    color: #857D7D;
    font-style: italic;
  }

  .container .form .input-user{
    width: 328px;
    height: 34px;
    margin-top: 64px;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black; 
  }
  
  .container .form .input-email{
    width: 328px;
    height: 34px;
    margin-top: 25px;
    border-radius: 40px;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: black; 
  }
  
  .container .form .montserrat-label {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; 
    font-style: normal;
    color: #857D7D;
  }
  
  .container .form input[type="button"]{
    width: 224px;
    height: 34px;
    margin-top: 37px;
    border-radius: 40px;
    background-color: #290478;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
  }

  .container .form input[type="button"]:hover{
    background-color: white;
    color: #290478;
  }
  
  .logo{
    width: 40px;
    height: 40px;
    margin-left: 9px;
  }
  
  .g-recaptcha{
    margin-top: 25px;
  }

  .menu{
    width: 359px;
    height: 100vh;
    margin-top: -56px;
    background-color: #D9D9D9;
  }