<nav class="navbar">
    <a routerLink="/login">
        <img src="assets/logoUpp.png" class="logo">
    </a>
    <span>Universidad Politecnica de Pachuca</span>
</nav>
<div class="full-container">
    <div class="menu">

    </div>
    <div class="container">
        <form action="" class="form">
            <input type="text" placeholder="Matricula" class="input-user">
            <input type="text" placeholder="correo electronico" class="input-email">
            <div class="g-recaptcha" data-sitekey="6LdEGJgpAAAAAFRxni5RjEDuVDb6SN6T3MRLlvwo"></div>
            <input type="button" value="Solicitar Contraseña"> 
        </form>
    </div>
</div>

