<nav class="navbar">
    <img src="assets/logoUpp.png" class="logo">
    <span>Universidad Politecnica de Pachuca</span>
</nav>
<div class="full-container">
    <div class="menu">
        <p class="menu-title">Menu</p>
        <button class="button-menu" routerLink="/dashboard">Inicio</button>
        <button class="button-menu" (click)="logOut()">Cerrar Sesion</button>
    </div>
    <div class="col">
        <h1> ESTUDIO SOCIOECONOMICO </h1>
            <div class="container">
                   <form class="form">
                    <h3> Datos del Alumno </h3>
                <select name="" id="">
                    <option value="">--Seleccione Su Carrera--</option>
                    <option value="">Biomedica</option>
                    <option value="">Biotecnologia</option>
                    <option value="">Financiera</option>
                    <option value="">Mecanica Automotriz</option>
                    <option value="">Mecatronica</option>
                    <option value="">Software</option>
                    <option value="">Terapia Física</option>
                    <option value="">Médico Cirujano</option>
                    <option value="">Sistemas y Tecnologías Industriales</option>
                </select>
                <input type="text" placeholder="CURP" maxlength="18">
                <input type="text" value="Matricula" maxlength="10">
                <input type="text" value="Cuatrimestre">  
                <select name="" id="">
                    <option value="">--Sexo--</option>
                    <option value="">Masculino</option>
                    <option value="">Femenino</option>
                </select>
                <input type="text" placeholder="Apellido paterno" name="apellidoP" >
                <input type="text" value="Apellido Materno">
                <input type="text" placeholder="Nombre" name="nombre">
                <input type="number" name="" id="" maxlength="10" placeholder="Numero de telefono">
                <input type="email" name="" id="" value="Correo">
                <div class="input-group radio">
                    <label for=""> Habla alguna lengua indigena </label>
                    <input type="radio" name="" checked>
                    <label for="">Si</label>
                    <input type="radio" name="" checked>
                    <label for="">No</label>
                </div>
                <button>Registar usuario</button>
                   </form> 
                
                  
                    
             
                
            </div>
            <div>
                