.full-container{
    display: flex;
  
  }
  
  .full-container .menu p{
    margin-top: 27px;
    margin-bottom: 26px;
  }
  
  .full-container .menu .button-menu{
    width: 224px;
    height: 34px;
    margin-top: 21px;
    border-radius: 40px;
    background-color: #290478;
    border: none;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    color: white;
  }
  
  .full-container .menu .button-menu:hover{
    background-color: white;
    color: #290478;
  }
  
  .full-container .menu .menu-title{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 25px; 
  }
  
  .full-container .menu{
    width: 359px;
    min-width: 359px;
    height: 100vh;
    padding-top: 56px;
    margin-top: -56px;
    background-color: #D9D9D9;
    text-align: center;
  }

  .container{
    justify-content: center;
  }

  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .table th, 
  .table td {
    padding: 8px 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .table th {
    background-color: #f2f2f2;
    color: #333;
  }
  
  .table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .delete{
    margin: 2.5px;
    background-color: #dc3545;
    color: white;
    border-radius: 2px;
    border: 1px solid transparent;
  }

  .modify{
    margin: 2.5px;
    background-color: #ffc107;
    color: black;
    border-radius: 2px;
    border: 1px solid transparent;
  }