<nav class="navbar">
  <img src="assets/logoUpp.png" class="logo">
  <span>Universidad Politecnica de Pachuca</span>
</nav>
<div class="full-container">
  <div class="menu">
      <p class="menu-title">Menu</p>
      <button class="button-menu" routerLink="/dashboard">Inicio</button>
      <button class="button-menu" routerLink="/becas-externas">Beca Externa</button>
      
      <button class="button-menu" (click)="logOut()">Cerrar Sesion</button>
  </div>
  <div class="container">
      <div class="container-table">
          <label class="title">BECAS Externas</label><br>
          <div class="container-sub-title">
              <label class="sub-title">Beca Externa</label>
          </div>
          <div class="container-form">
              <form action="" class="form">
                  <!--exportamos la clase generada para el total de alumnos-->>
                  <label> TOTAL DE ALUMNOS BECADOS: {{ totalAlumnosBecados }} </label>
                  <div class="buttons">
                      <button routerLink="/becados_externa">Añadir nuevo becado</button>
                      <button>Generar Excel</button>
                      <button>Generar PDF</button>
                      <button (click)="openModal()"> Generar Vale </button>
                  </div>
                  <!-- TABLA QUE MUESTRA LOS DATOS DE LOS BECADOS -->
                  <div class="table-responsive">
                      <table>
                          <thead style="background: #290478">
                              <tr>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">CURP</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Matricula</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Apellido Paterno</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Apellido Materno</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Nombre</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Programa Educativo</font>
                                  </th>
                                  <th style="font-size: 11; text-align: center;">
                                      <font color="white">Cuatrimestre</font>
                                  </th>
                              </tr>
                          </thead>
                          <tbody>
                              <!-- Conexion entre la BD y la tabla
                               hay que refenciar primero nuestra tabla y despues a la direccion donde se encuntra nuestra
                               api con el metodo get  -->
                               <tr *ngFor="let userexterna of externa">
              <td>{{ userexterna.curp }}</td>
              <td>{{ userexterna.matricula }}</td>
              <td>{{ userexterna.apellidoP }}</td>
              <td>{{ userexterna.apellidoM }}</td>
              <td>{{ userexterna.nombre }}</td>
              <td>{{ userexterna.carrera }}</td>
              <td>{{ userexterna.cuatrimestre }}</td>
              <td>
              </td>
            </tr>
                          </tbody>
                      </table>
                  </div>
              </form>
          </div>
      </div>
  </div>
    <!-- Inicio de Modal Fecha-->
  <div class="modal" id="dateModal">
      <div class="modal-content">
          <span class="close" (click)="closeModal()">&times;</span>
          <form>
              <div class="form-group">
                  <label for="startDate">Fecha de Inicio:</label>
                  <input type="date" id="startDate" autocomplete="off" [(ngModel)]="startDate" name="fechaDeInicio">
              </div>
              <div class="form-group">
                  <label for="endDate">Fecha de terminación:</label>
                  <input type="date" id="endDate" autocomplete="off" [(ngModel)]="endDate" name="fechaDeTermino">
              </div>
          </form>
          <button class="button-menu" (click)="saveDates()">Guardar fechas</button>
      </div>
  </div>