<nav class="navbar">
    <img src="assets/logoUpp.png" class="logo">
    <span>Universidad Politecnica de Pachuca</span>
</nav>
<div class="full-container">
    <div class="menu">
        <p class="menu-title">Menu</p>
        <button class="button-menu" routerLink="/dashboard">Inicio</button>
        <button class="button-menu" routerLink="/alimenticia">Beca alimenticia</button>
        <button class="button-menu">Beca de equidad</button>
        <button class="button-menu">Beca de representacion</button>
        <button class="button-menu" (click)="logOut()">Cerrar Sesion</button>
    </div>
    <div class="container">
        
    </div>
</div>